## ¿Qué es Pandas?

    - Pandas es una librería que nos va a permitir maninupar los datos usando diferentes métodos.
    - Pandas permite usar Dataframes (filas y columnas)
    - En cada DataFrame una columna será una Serie

## Importar librerías

In [1]:
import pandas as pd

## Crear una Serie

Una serie de pandas consta de dos componentes principales:


<ul>
    <li> Datos: estos son los datos reales almacenados en la serie, que pueden ser cualquier tipo de valores u objetos. </li>
    <li>Índice: El índice es una secuencia etiquetada de valores que identifica de forma única cada elemento de la serie.</li>
</ul>

### Ejemplo 1

In [3]:
index = ['a', 'b', 'c', 'd', 'e']
series_example = pd.Series([100, 200, "hola", 400, 500], index=index, name="cosas locas")
print("\nSeries Example:")
print(series_example)

Series Example:
a     100
b     200
c    hola
d     400
e     500
Name: cosas locas, dtype: object

### Ejemplo 2

In [7]:
prices = [9.99, 14.95, 7.50, 19.99, 12.49]

prices_series = pd.Series(prices, name='Price')


print("\nPrices Series:")
prices_series

Prices Series:

0     9.99
1    14.95
2     7.50
3    19.99
4    12.49
Name: Price, dtype: float64

### Obtener un valor

In [9]:
print(prices_series[3])

19.99

## Crear un Dataframe

In [11]:
movies_data = {
    'Title': ['Inception', 'The Shawshank Redemption', 'The Godfather', 'Pulp Fiction', 'Forrest Gump'],
    'Director': ['Christopher Nolan', 'Frank Darabont', 'Francis Ford Coppola', 'Quentin Tarantino', 'Robert Zemeckis'],
    'Year': [2010, 1994, 1972, 1994, 1994],
    'Sales': prices
}

## Visualizar dataframe

In [15]:
movies_dataframe = pd.DataFrame(movies_data)
movies_dataframe

                      Title              Director  Year  Sales
0                 Inception     Christopher Nolan  2010   9.99
1  The Shawshank Redemption        Frank Darabont  1994  14.95
2             The Godfather  Francis Ford Coppola  1972   7.50
3              Pulp Fiction     Quentin Tarantino  1994  19.99
4              Forrest Gump       Robert Zemeckis  1994  12.49

## Obtener o seleccionar datos

### Seleccionar la fila 2

In [25]:
slicedRow = movies_dataframe.iloc[1]
slicedRow

Title       The Shawshank Redemption
Director              Frank Darabont
Year                            1994
Sales                          14.95
Name: 1, dtype: object

### Seleccionar una columna

In [20]:
slicedCol = movies_dataframe.loc[:,"Director"]
slicedCol

0       Christopher Nolan
1          Frank Darabont
2    Francis Ford Coppola
3       Quentin Tarantino
4         Robert Zemeckis
Name: Director, dtype: object

### Seleccionar el año de la pelicula "The Godfather"

In [22]:
year_godfather = movies_dataframe.iloc[2,2]
print(year_godfather)

1972

### Sacar promedio de los precios

In [27]:
sales_series = movies_dataframe.loc[:,"Sales"]
print("Promedio:",sales_series.mean())

Promedio: 12.983999999999998